
<ion-content>
  <h1 class="centrar">Administrar usuarios</h1>
  <form [formGroup]="usuario" (ngSubmit)="agregar()">
    <ion-card>
      
      <ion-input formControlName="id" [disabled]="auxiliar"></ion-input>

      <ion-item>
        <ion-label position="stacked">Rut</ion-label>
        <ion-input formControlName="rut" placeholder="Ingrese rut"></ion-input>
        <ion-note slot="helper">Ingrese rut sin puntos</ion-note>
        <ion-note slot="error">RUT INCORRECTO</ion-note>
      </ion-item>
  
      <ion-item>
        <ion-label position="stacked">Nombre</ion-label>
        <ion-input formControlName="nombre" placeholder="Ingrese nombre"></ion-input>
      </ion-item>
      
      <ion-item>
        <ion-label position="stacked">Ingresar apellido:</ion-label>
        <ion-input formControlName="ap_paterno" id="ap_paterno" type="text" placeholder="Ingrese apellido paterno">
        </ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Ingresar fecha nacimiento:</ion-label>
        <ion-input formControlName="fecha_nac" id="fecha_nac" type="date">
        </ion-input>
      </ion-item>

      <ion-item>
        <ion-select placeholder="tipo de usuario" formControlName="tipo_usuario">
          <ion-select-option >administrador</ion-select-option>
          <ion-select-option >docente</ion-select-option>
          <ion-select-option >alumno</ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Ingresar correo:</ion-label>
        <ion-input formControlName="correo" id="correo" type="email" placeholder="Ingrese correo"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Clave</ion-label>
        <ion-input formControlName="clave" id="clave" type="password" placeholder="Ingrese clave"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Repetir Clave</ion-label>
        <ion-input [(ngModel)]="repetir_clave" [ngModelOptions]="{standalone: true}" id="repetir_clave" type="password"
          placeholder="Ingrese clave nuevamente"></ion-input>
      </ion-item>

      <ion-button type="submit" [disabled]="!usuario.valid" expand="full">Agregar</ion-button>
      <ion-button (click)="modificar()" [disabled]="!usuario.valid" expand="full">Modificar</ion-button>
  
    </ion-card>
  </form>
  <h1 class="centrar">Lista de usuarios</h1>
  <div>
    <ion-list *ngFor="let usuario of usuarios">
      <ion-card>
        <ion-card-header class="centrar">
          <ion-card-title>{{usuario.nombre}}</ion-card-title>
          <ion-card-subtitle>{{usuario.rut}}</ion-card-subtitle>
          <ion-card-subtitle>{{usuario.correo}}</ion-card-subtitle>
          <ion-card-subtitle>{{usuario.tipo_usuario}}</ion-card-subtitle>
          <ion-card-subtitle>{{usuario.id}}</ion-card-subtitle>

        </ion-card-header>
        <ion-card-content>
          <ion-button expand="full" color="warning" (click)="buscar(usuario.id)">BUSCAR</ion-button>
          <ion-button expand="full" color="danger" (click)="eliminar(usuario.id)">ELIMINAR</ion-button>
        </ion-card-content>
      </ion-card>
    </ion-list>
  </div>


</ion-content>
