<ion-content>
    
  <div>
      <ion-card> 
      <img src="../../../assets/img/user-login.png" alt="">
      <h3 class="centrar">Rut: <a class="centrar2"> {{usuario.rut}} </a> </h3>
      
      <h3 class="centrar">Nombre: <a class="centrar2"> {{usuario.nombre}} {{usuario.ap_paterno}} </a></h3>
      
      <h3 class="centrar">Fecha de Nacimiento: </h3>
      <h3 class="centrar2"> {{usuario.fecha_nac}} </h3>
      <h3 class="centrar">Tipo de usuario: <h3 class="centrar2"> {{usuario.tipo_usuario}} </h3></h3>
      <h3 class="centrar">Correo: </h3>
      <h4 class="centrar2"> {{usuario.correo}} </h4>
      
      
      </ion-card>
  </div>

</ion-content>
